# =============================================================================
# web-rstk-test - Terraform Variables
# =============================================================================
# Copy this file to terraform.tfvars and fill in the sensitive values.
# NEVER commit terraform.tfvars to version control!
# =============================================================================

secrets = {
  APPS_CLIENT_KEY              = ""
  APPS_CLIENT_SECRET           = ""
  DATABASE_URL                 = ""
  MONGOLAB_URI                 = ""
  ORMONGO_DBNAME               = ""
  ORMONGO_PASSWORD             = ""
  ORMONGO_USERNAME             = ""
  RSTK_KEY                     = ""
  SFORCE_CLIENT_KEY            = ""
  SFORCE_CLIENT_SECRET         = ""
  aphria_b2b_dbname            = ""
  aphria_sit_dbname            = ""
  capcium_rspilot_dbname       = ""
  cottenham_rspilot_dbname     = ""
  daidomachines_rspilot_dbname = ""
  fike_stage_dbname            = ""
  matouk_sb_dbname             = ""
  mdf_fullsand_dbname          = ""
  mevion_sb_dbname             = ""
  summitbodyworks_sb_dbname    = ""
  summittruck_sb_dbname        = ""
  sunstreet_dev02_sb_dbname    = ""
  unionwear_rspilot_dbname     = ""
  whiting_sb_dbname            = ""
}
