# =============================================================================
# web-rstk-qa - Terraform Variables
# =============================================================================
# Copy this file to terraform.tfvars and fill in the sensitive values.
# NEVER commit terraform.tfvars to version control!
# =============================================================================

secrets = {
  APPS_CLIENT_KEY      = ""
  APPS_CLIENT_SECRET   = ""
  ORMONGO_DBNAME       = ""
  ORMONGO_PASSWORD     = ""
  ORMONGO_USERNAME     = ""
  RSTK_KEY             = ""
  SFORCE_CLIENT_KEY    = ""
  SFORCE_CLIENT_SECRET = ""
  pde5_dbname          = ""
}
