# =============================================================================
# rootf-dev - Terraform Variables
# =============================================================================
# Copy this file to terraform.tfvars and fill in the sensitive values.
# NEVER commit terraform.tfvars to version control!
# =============================================================================

secrets = {
  HEROKU_PASSWORD      = ""
  HEROKU_USERNAME      = ""
  MONGOLAB_URI         = ""
  ORMONGO_DBNAME       = ""
  ORMONGO_PASSWORD     = ""
  ORMONGO_USERNAME     = ""
  SFORCE_CLIENT_KEY    = ""
  SFORCE_CLIENT_SECRET = ""
  dburl                = ""
}
